<nav class="navbar navbar-dark">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-md-6 logo_st">
          <a class="navbar-brand" href="http://smartsoftcolombia.com/portalweb/"><img src="http://smartsoftcolombia.com/portalweb/images/logosmartsoft.png" alt="logo"></a>
        </div>
        <div class="col-md-6 links_st">
          <div>
            <a class="btn" routerLink="clients">Clientes</a>
          </div>
          <div>
            <a class="btn" routerLink="products">Productos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
